#blog-nav
  +icon-keyboard

#header
  .comments
    +icon-comment

  .documents
    +icon-doc-text

  .tags
    +icon-tag

#blog-tag-cloud
  border-bottom: 0.1em solid $light-grey
  margin-bottom: 2em
  width: 100%
  float: left

  li, a
    float: left

  a
    +unstyled-link
    +border-radius(0.3em)
    +background-image(linear-gradient(#FFFFFF, #EBEBEB))
    border: 0.1em solid $mid-grey + 30
    padding: 0.6em 1em
    margin: 0 1em 1em 0

#islay-blog-admin-blog-entries.show
  .body
    border: 0.1em solid $light-grey
    padding: 1em 5%
    margin-bottom: 2em
    width: 90%
    float: left

  .assets
    li
      margin-right: 1em
