#blog-nav
  +icon-bullhorn

#header
  .comments
    +icon-comments

  .documents
    +icon-file

#activity-logs
  .blog_entry-log a,
  .blog_comment-log a
    background-color: #F2E6FF

  .blog_entry-log a strong
    +icon-bullhorn

  .blog_comment-log a strong
    +icon-comment-alt

#islay-blog-admin-blog.index
  .latest-entries
    li
      border-bottom: 0.1em dashed $light-grey
      padding-bottom: 1em
      width: 100%
      float: left

    h4
      strong
        color: black !important
        font-weight: bold
        font-size: 1.2em
        padding-bottom: 0.3em
        display: block

    a
      color: $dark-grey !important
      width: 100%
      float: left

      &:before
        font-family: Icons
        font-size: 1.8em
        margin: 0 0.3em 0 0
        float: left

      &.published-true
        &:before
          color: $positive-color

        +icon-ok

      &.published-false
        &:before
          color: $negative-color

        +icon-remove

      h4
        float: left

    li li
      margin: 0

    .tags,
    .comments
      margin-top: 0.6em
      margin-right: 0.5em
      margin-bottom: 0 !important
      float: left

    .tag,
    .indicator
      padding: 0.2em 0.4em
      margin: 0 0.6em 0 0
      float: left

    .tags
      margin-left: 2em

    .tag
      background: white

    .comments .key
      margin-top: 0.3em
      float: left

#islay-blog-admin-blog-entries.show
  .body
    border: 0.1em solid $light-grey
    padding: 1em 5%
    margin-bottom: 2em
    width: 90%
    float: left

  .assets
    li
      margin-right: 1em

  .all-comments
    h4
      color: black !important
      font-weight: bold
      font-size: 1.2em
      padding-bottom: 0.3em

    li
      border-bottom: 0.1em dashed $light-grey
      padding-bottom: 1em
      width: 100%
      float: left


#islay-admin-search .search-results
  .blog-entry
    +icon-file
