- breadcrumb('Blog', :blog)
- breadcrumb('Tags')

= content do
  %table.fixed-header
    %thead
      %tr
        %th Tag
        %th Entries

    %tbody
      - @blog_tags.each do |tag|
        %tr
          %td
            = link_to(tag.name, path(tag), :class => 'title')
          %td.indicator
            %span.indicator= tag.entries_count
