- breadcrumb('Blog', :blog)
- breadcrumb('Entries', :blog_entries)

- if params[:filter]
  - breadcrumb("#{params[:filter].humanize} entries")
- else
  - breadcrumb("All entries")

- filter_nav(:blog_entries, 'All')
- filter_nav(:blog_entries, 'Published', 'published')
- filter_nav(:blog_entries, 'Unpublished', 'unpublished')

- sort_nav(:blog_entries, 'Published At')
- sort_nav(:blog_entries, 'Updated At', 'updated_at')

= render :partial => 'table'
