- sub_nav('Overview', path(:blog), :root => true, :class => 'overview')
- sub_nav('Entries', path(:blog_entries), :class => 'documents')
- sub_nav('Comments', path(:blog_comments), :class => 'comments')

- control('Entry', path(:new, :blog_entry), :new)
